/**
 * 可以在css的注释中使用 `@require` 来声明依赖关系
 * @require ../github-markdown/github-markdown.css
 * @require ../highlight/github.css
 */

.main {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5%; left: 10%;
    bottom: 5%; right: 10%;
}

.main-menu {
    position: absolute;
    top: 0; left: 0;
    bottom: 0;
    width: 150px;
    background: #f2f2f2;
}

.main-content {
    position: absolute;
    top: 0; left: 150px;
    bottom: 0; right: 0;
}

.main-views {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main-view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;

    -webkit-overflow-scrolling: touch;

    opacity: 0;

    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.3s ease-out;
    -ms-transition: opacity 0.2s ease-out, -ms-transform 0.3s ease-out;
    -o-transition: opacity 0.2s ease-out, -o-transform 0.3s ease-out;
    transition: opacity 0.2s ease-out, transform 0.3s ease-out;
}

.main-view-inner {
    padding: 20px;
}

.main-view.active {
    opacity: 1;

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.transition-all {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 768px) {

    .main {
        top: 0; left: 0;
        bottom: 0; right: 0;
    }

    .main-menu {
        width: 100%;
        bottom: auto;
        height: 40px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .main-content {
        left: 0;
        top: 40px;
    }
}