/**
 * 可以在css的注释中使用 `@require` 来声明依赖关系
 * @require font-awesome
 * @require ../markdown/markdown.css
 * @require ../highlight/github.css
 */

.clearfix:after {
    content: ' ';
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}

.site {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 2% auto;
    height: 91%;
    max-width: 810px;
    min-width: 320px;
}

.site-menu {
    position: absolute;
    top: 0; left: 0;
    bottom: 0;
    width: 150px;
    background: #f2f2f2;
    z-index: 10000;
}

.site-content {
    position: absolute;
    top: 0; left: 150px;
    bottom: 0; right: 0;
}

.site-footer {
    position: absolute;
    bottom: -30px;
    right: 0;
    height: 20px;
    z-index: 100000;
}

.site-views {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* base64内嵌loading.gif图片 */
    background: url(loading.gif?__inline) no-repeat center center;
}

.site-view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;
    background: #fff;

    opacity: 0;

    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);

    -webkit-transition: opacity 0.2s ease-out 0.2s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.2s ease-out 0.2s, transform 0.4s ease-out;

    z-index: 10;
}

.site-view.active {
    opacity: 1;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-overflow-scrolling: touch;

    z-index: 100;
}

.site-view-inner {
    padding: 3%;
}

.transition-all {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 820px) {

    .site {
        margin: 0;
        height: 100%;
    }

    .site-menu {
        width: 100%;
        bottom: auto;
        height: 40px;
        border-bottom: 1px solid #fff;
    }

    .site-content {
        left: 0;
        top: 40px;
    }

    .site-footer {
        bottom: -5px;
        right: 0;
    }

    .site-view-inner {
        padding: 3% 3% 7%;
    }
}