<div class="main transition-all">
    <div class="main-menu transition-all" id="main-menu"></div>
    <div class="main-content transition-all">
        <div id="main-views" class="main-views">
            {{#each views}}
                <div class="main-view transition-all" data-page="{{@key}}">
                    <div class="main-view-inner"></div>
                </div>
            {{/each}}
        </div>
    </div>
</div>